.ad img{
	height: 120px;	
}
.ad{
	display: inline-block;
	height: 120px;
	margin-top: 40px;
}

/*loading图标*/
.loader{
	position: relative;
	width: 3px;
	height: 20px;
	/*display: none;*/
	background-color: #ff6700;
	margin: 0 auto;
	animation: loading 0.3s linear 0s infinite alternate;
}
.loader:before,.loader:after{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	content: '';
	width: 3px;
	height: 20px;
	background-color: #ff6700;
}
.loader:before{
	margin-left: -10px;
	transform: scale(1,0.5);
	animation: loading 0.3s linear 0.3s infinite alternate;
}
.loader:after{
	margin-left: 10px;
	transform: scale(1,0.5);
	animation: loading 0.3s linear 0.5s infinite alternate;
}
@keyframes loading{
	from{
		opacity: 0.5;
		transform: scale(1,0.5);
	}
	to{
		opacity: 1;
		transform: scale(1,1);
	}
}






.header-GM{
	height: 60px;
	
}
.header-GM h2{
	float: left;
	font-size: 21px;
	line-height: 60px;
}
.header-GM .header-GM-link{
	float: right;
	cursor: pointer;
}

.header-GM .header-GM-link a:nth-child(1){
	float: left;
	color: #424242;
	line-height: 60px;
	margin-right: 12px;
}
.header-GM .header-GM-link a:nth-child(2){
	display: inline-block;
	width: 21px;
	height: 21px;
	background: #b0b0b0;
	color: #fff;
	margin-top: 19px;
	text-align: center;
	line-height: 21px;
	border-radius: 50%;
	font-size: 10px;
}
.header-GM .header-GM-link:hover a p{
	color: #ff6700;
}
.header-GM .header-GM-link:hover a:nth-child(2){
	background: #ff6700;
}

.center{
	width: 1226px;
	margin: 0 auto;
}






.content-sp{
	float: right;
	position: relative;
	width: 978px;
	height: 340px;
}
.content-sp .sp-link{
	float: left;
	position: relative;
	width: 234px;
	height: 100%;
	margin-left: 14px;
	text-align: center;
	background: #fafafa;
	border-top: 1px solid yellow;
	box-sizing: border-box;
	overflow: hidden;
}
.content-sp .sp-link:first-child{
	margin-left: 0px;
}
.content-sp .sp-link a img{
	width: 113px;
	height: 142px;
	margin-top: 40px;
}
.content-sp .sp-link a h2{
	margin-top: 40px;
	font-size: 13px;
	color: #202020;
}
.content-sp .sp-link a .ms{
	margin-top: 10px;
	color: #adadad;
	font-size: 12px;
}
.content-sp .sp-link a .mey{
	margin-top: 20px;
	font-size: 13px;
	color: #ff6700;
}
.content-sp .sp-link a .mey s{
	color: #adadad;
}
.content-sp .sp-link .sp-lb{
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -30px;
	width: 60px;
	height: 20px;
	background: #e53935;
	line-height: 20px;
	color: #fff;
	font-size: 12px;
}
.content-sp .sp-link .sp-link-key{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background: #ff6700;
	text-align: center;
	padding: 15px 30px 15px 25px;
	box-sizing: border-box;
	display: none;
}
.content-sp .sp-link .sp-link-key p{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.content-sp .sp-link .sp-link-key p:first-child{
	display: inline-block;
	width: 150px;
	font-size: 14px;
	color: #fff;
}
.content-sp .sp-link .sp-link-key p:nth-child(2){
	display: inline-block;
	color: #ccc;
	font-size: 12px;
}
.content-sp .sp-link:hover .sp-link-key{
	display: block;
}



/*第一块*/
.section{
	height: 40px;
	background: #333;
}
/*第一块左边导航*/
.section .nav .nav-left{
	float: left;
	height: 40px;
}
.section .nav .nav-left .nav-left-li{
	float: left;
}
.nav .nav-left .nav-left-li a{
	line-height: 40px;
	font-size: 9px;
	color:#b0b0b0;
}
.nav .nav-left .nav-left-li:hover a{
	color: #fff;
}
.section .nav .nav-left .nav-left-li span{
	margin: 0 6px 0 6px;
	font-size: 9px;
	color: #363b40;
}
/*第一块右边购物车*/
.section .nav .nav-right{
	position: relative;
	float: right;
	
}
.section .nav .nav-right:hover{
	background: #fff;
}
.section .nav .nav-right:hover .nav-right-box,
.section .nav .nav-right:hover .nav-right-sp{
	color: #ff6700;
}
.section .nav .nav-right .nav-right-box{
	font-size: 18px;
	line-height: 40px;
	color: #b0b0b0;
}
.section .nav .nav-right .nav-right-sp{
	vertical-align: top;
	line-height: 40px;
}
.section .nav .nav-right span{
	vertical-align: top;
}
/*第一块右边导航*/
.section .nav .nav-right-content{
	float: right;
	width: 200px;
	height: 40px;
	font-size: 12px;
	color: #363b40;
}
.section .nav .nav-right-content ul{
	margin-left: 45px;
	overflow: hidden;
}
.section .nav .nav-right-content li{
	float: left;
	line-height: 40px;
}
.section .nav .nav-right-content .nav-right-li:hover a{
	color: #fff;
}
.nav-right-content span{
	margin: 0 5px 0 5px;
}
.nav-right-shoping{
	position: relative;
	width: 120px;
	height: 40px;
	font-size: 12px;
	text-align: center;
	background: #424242;
	z-index: 999;
	cursor: pointer;
}
#nav-right-shop{
	position: absolute;
	top: 40px;
	right: 0;
	width: 300px;
	height: 0;
	text-align: center;
	z-index: 666;
	overflow: hidden;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	background-color: #fff;
}
#nav-right-shop .loader{
	margin-top: 40px;
	display: none;
}
#nav-right-shop .empty-cart{
	display: none;
	margin-top: 40px;
	font-size: 12px;
}





/*第二块*/
.header{
	position: relative;
	height: 100px;
}

/*左边logo*/
.header .header-logo{
	float: left;
	margin-top: 22px;	
	width: 55px;
	height: 55px;
}
/*中间导航*/
.header .header-nav{
	float: left;
	width: 875px;
	height: 100px;
}
.header .header-nav ul{
	margin-left: 150px;
}
.header .header-nav li{
	float: left;
	font-size: 16px;
	line-height: 100px;
	padding: 0 12px;
	cursor: pointer;
}
.header .header-nav li a{
	color: #333;
}
.header .header-nav li:hover a{
	color: #ff6700;
}
/*header下拉菜单*/
.header .header-nav-menu{
	position: absolute;
	top: 100px;
	left: 0;
	width: 100%;
	height: 0px;
	z-index: 999;
	overflow: hidden;
	box-sizing: border-box;
	background-color: #fff;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
}
.header .header-nav-menu li{
	float: left;
	position: relative;
	width: 200px;
	height: 100%; 
	text-align: center;
}
.header .header-nav-menu li .img-box{
	width: 100%;
	height: 100px;
	margin-top: 30px;
	border-right: 1px solid #ddd;
}
.header .header-nav-menu li .img-box img{
	width: 100px;
	height: 100%;
}
.header .header-nav-menu li .product-name{
	margin-top: 15px;
	font-size: 12px;
	cursor: pointer;
}
.header .header-nav-menu li .product-price{
	margin-top: 5px;
	font-size: 11px;
	color: #ff6700;
}
.header .header-nav-menu li .tag{
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -33px;
	margin-top: -1px;
	width: 66px;
	height: 20px;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
	border: 1px solid #ff6700;
}

/*右边搜索框*/
.header .header-search{
	position: relative;
	float: right;
	width: 296px;
	height: 50px;
	margin-top: 25px;
}
.header .header-search input{
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -25px;
	width: 246px;
	height: 50px;
	border: 1px solid #e0e0e0;
	border-right: none;
	box-sizing: border-box;
	padding: 0 5px 0 5px;
	outline: none;
}
.header .header-search input:hover{
	border-color: #aaa;
}
.header .header-search input:hover + .header-search-box{
	border-color: #aaa;
}
.header .header-search input:focus ~ .header-search-content{
	display: block;
}
.header .header-search input:focus{
	border-color: #ff6700;
}
.header .header-search input:focus ~ .header-search-box{
	border-color: #ff6700;
} 
.header .header-search input:focus ~ .header-search-lg{
	display: none;
}
.header .header-search .header-search-box{
	position: absolute;
	left: 246px;
	top: 50%;
	margin-top: -25px;
	width: 50px;
	height: 50px;
	border: 1px solid #e0e0e0;
	box-sizing: border-box;
	font-size: 18px;
	text-align: center;
	color: #616161;
}
.header .header-search .header-search-box:hover{
	background: #ff6700;
	color: #fff;
	border-color: #ff6700;
}
.header .header-search .header-search-box span{
	display: inline-block;
	line-height: 50px;
}
.header .header-search .header-search-content{
	position: absolute;
	top: 50px;
	left: 0;
	border: 1px solid #ff6700;
	border-top: none;
	display: none;
	z-index: 999;
}
.header .header-search .header-search-content li{
	width: 245px;
	height: 30px;
	font-size: 13px;
	box-sizing: border-box;
	background: #fff;

}
.header .header-search .header-search-content li a{
	float: left;
	line-height: 30px;
	color: #333;
	margin-left: 10px;
}
.header .header-search .header-search-content li p{
	line-height: 30px;
	float: right;
	color: #b0b0b0;
	margin-right: 10px;
}
.header .header-search .header-search-content li:hover{
	cursor: pointer;
	background:#eee;
}
.header .header-search-lg{
	position: absolute;
	top: 17px;
    left: 118px;
    font-size: 11px;
}
.header .header-search-lg a{
	float: left;
	width: 40px;
	background: #ddd;
	color: #333;
	display: block;
	margin-left: 5px;
	text-align: center;
}
.header .header-search-lg a:nth-child(2){
	width: 70px;
}
.header .header-search-lg a:hover{
	background: #ff6700;
	color: #fff;
}
/*第三块*/

/*第三块中的第一块*/
.home-one{
	position: relative;
	width: 100%;
	height: 460px;
}
.home-one .home-one-left .home-one-left-nav{
	padding: 30px 0 30px 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 234px;
	height: 460px;
	background: rgba(0,0,0,0.5);
	box-sizing: border-box;
}
.home-one .home-one-left .home-one-left-nav .conceal{
	position: absolute;
	top: 0;
	left: 234px;
	width: 0px;
	height: 460px;
	overflow: hidden;
	background: #fff;
	box-sizing: border-box;
	border-top: 1px solid #ddd;
	z-index: 999;
	box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}
.home-one .home-one-left .home-one-left-nav .conceal ul{
	float: left;
}
.home-one .home-one-left .home-one-left-nav .conceal li{
	width: 234px;
	height: 76px;'
	text-align: center;
	cursor: pointer;
}
.home-one .home-one-left .home-one-left-nav .conceal li:hover span{
	color: #ff6700;
}
.home-one .home-one-left .home-one-left-nav .conceal li div{
	float: left;
	margin-left: 20px;
	margin-right: 10px;
	width: 40px;
	height: 40px;
}
.home-one .home-one-left .home-one-left-nav .conceal li img{
	width: 40px;
	height: 40px;
	margin-top: 20px;
}

.home-one .home-one-left .home-one-left-nav .conceal li span{
	float: left;
	font-size: 13px;
	color: #515151;
	line-height: 76px;
}






.home-one .home-one-left .home-one-left-nav>ul li{
	width: 100%;
	height: 40px;
	padding: 0 24px 0 30px;
	cursor: pointer;
	box-sizing: border-box;
}
.home-one .home-one-left .home-one-left-nav>ul li a{
	line-height: 40px;
	font-size: 14px;
	color: #fff;
}
.home-one .home-one-left .home-one-left-nav>ul li span{
	font-size: 12px;
	color: #bbbab7;
	float: right;
}
.home-one-left .home-one-left-nav>ul li:hover{
	background: #ff6700;
}
/*轮播图*/
#box{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 460px;
}
.active{
	position: absolute;
	top: 50%;
	margin-top: -30px;
	width: 40px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 30px;
	background-color: rgba(0,0,0,0.4);
	color: #fff;
	z-index: 99;
	cursor: pointer;
	user-select: none;
}
.common{
	float: left;
	width: 20px;
	height: 20px;
	margin-right: 5px;
	border: 3px solid #fff;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.5);
	cursor: pointer;
}
/*.home-one-img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 460px;
}
.home-one-img img{
	height: 460px;
}
.home-one .icf{
	width: 40px;
	height: 60px;
	cursor: pointer;
	text-align: center;	
	font-size: 30px;
}
.home-one .home-one-icf-left{
	position: absolute;
	top: 50%;
	left: 234px;
	margin-top: -25px;
}
.home-one .home-one-icf-right{
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -25px;
}
.home-one .icf .icf-center{
	line-height: 60px;
}
.home-one .icf:hover{
	background: rgba(0,0,0,0.5);
}
.home-one .icf:hover a{
	color: #fff;
}*/
/*第三块右下角圆圈*/
.home-one .home-one-left .home-one-left-box{
	position: absolute;
	right: 24px;
	bottom: 30px;
	height: 10px;
}
.home-one .home-one-left .home-one-left-box li{
	float: left;
	width: 10px;
	height: 10px;
	background: #96938a;
	border: 2px solid #b5b3ad;
	border-radius: 50%;
	margin-left: 5px;
	cursor: pointer;
}
.home-one .home-one-left .home-one-left-box li:hover{
	background: #fcf9f0;
	border-color: #555;
}
/*第三块中的第二块*/
.home-two{
	width: 100%;
	height: 170px;
	margin-top: 14px;
	box-sizing: border-box;
	margin-bottom: 25px;
}
.home .home-two .home-two-left{
	width: 234px;
	height: 170px;
	float: left;
	background: #5f5750;
}
.home .home-two .home-two-left li{
	position: relative;
	float: left;
	width: 78px;
	height: 85px;
	text-align: center;
}
.home .home-two .home-two-left li a{
	display: block;
	font-size: 12px;
	margin-top: 25px;
	color: #cfcdcb;
}
.home .home-two .home-two-left li a i{
	display: block;
	font-size: 24px;
	margin-bottom: 5px;
}
.home .home-two .home-two-left li:hover a{
	color: #fff;
}

/*
*竖线和横线
*/
.vertical:before{
	content: "";
	position: absolute;
	top: 9px;
	left: 0px;
	width: 1px;
	height: 70px;
	background: #665e57;
}
.across:after{
	content: "";
	position: absolute;
	top: 0;
	left: 1px;
	width: 60px;
	height: 1px;
	background: #665e57;
	margin: 0 9px;
}
.home .home-two .home-two-right{
	float: right;
}
.home-two .home-two-right .home-two-right-img{
	float: left;
	width: 316px;
	height: 170px;
	margin-left: 15px;

}
.home-two .home-two-right .home-two-right-img a img{
	height: 100%;
}
.home-two .home-two-right .home-two-right-img:first-child{
	margin-left: 0;
}
.home-two .home-two-right .home-two-right-img:hover{
	box-shadow: 0 8px 10px 5px #ddd;
}

.header-T{
	position: relative;
	width: 100%;
	height: 60px;	
}
.header-T h2{
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -30px;
	line-height: 60px;
	font-size: 21px;
	color: #333;
}
.header-T .header-link{
	position: absolute;
	right: 0;
	bottom: 10px;
	text-align: center;
}
.header-T .header-link a{
	float: left;
	width: 34px;
	height: 22px;
	line-height: 22px;
	border: 1px solid #e0e0e0;
}
.header-T .header-link a:nth-child(2){
	border-left: none;
}
.header-T .header-link a:hover{
	color: #ff6700;
}

.home-tree{
	margin-bottom: 40px;
}
.home-tree-content-time{
	float: left;
	width: 234px;
	height: 340px;
	background: #f1eded;
	border-top: 1px solid red;
	box-sizing: border-box;
}
.home .home-tree .home-tree-content .home-tree-content-time{
	text-align: center;
}
.home .home-tree .home-tree-content .home-tree-content-time h2{
	font-size: 20px;
	color: #ff6700;
	margin-top: 60px;
}
.home .home-tree .home-tree-content .home-tree-content-time img{
	margin-top: 30px;
}
.home-tree .home-tree-content .home-tree-content-time .home-tree-content-time-ms{
	margin-top: 30px;
	margin-bottom: 30px;
	color: #706f6f;
	font-size: 13px;
}
.home-tree .home-tree-content .home-tree-content-time .time{
	display: inline-block;
	width: 46px;
	height: 46px;
	line-height: 46px;
	background: #605751;
	text-align: center;
	font-size: 18px;
	color: #fff;
}
.home-tree .home-tree-content .home-tree-content-time .mh{
	color: #605751;
	font-size: 16px;
}


/*第四块*/
.main{
	height: 2115px;
	margin-top: 40px;
	background: #f5f5f5;
}

.main .phone-ad{
	float: left;
	width: 234px;
	height: 616px;
}
.main .phone .sp{
	float: right;
	width: 978px;
	height: 616px;
}
.content-sp .sp-link:nth-child(5){
	margin-left: 0px;
}
.content-sp .sp-link-m{
	height: 303px;
	transition: transform 0.5s,box-shadow 0.5s;
}
.content-sp .sp-link-m:hover{
	transform: translateY(-2px);
	box-shadow: 0 8px 10px 5px #ddd;
}
.content-sp .sp-link-m:nth-child(1),
.content-sp .sp-link-m:nth-child(2),
.content-sp .sp-link-m:nth-child(3),
.content-sp .sp-link-m:nth-child(4){
	margin-bottom: 10px;
}

.content-sp .sp-link-m a img{
	margin-bottom: -20px;
}
.content-sp .sp-link-m a .ms{
	margin-bottom: -5px;
}
.main .appliances .header-GM-link{
	float: right;
}
.main .appliances .header-GM-link ul li{
	float: left;
	height: 30px;
	margin-left: 15px;
}
.main .appliances .header-GM-link li:nth-child(1) .link-a{
	color: #ff6700;
	border-bottom: 2px solid #ff6700;
}
.main .appliances .header-GM-link li a{
	font-size: 16px;
	line-height: 30px;
	text-align: center;
}
.main .appliances .header-GM-link li:hover .link-a{
	color: #ff6700;
	border-bottom: 2px solid #ff6700;
}
.main .appliances .appliances-ad{
	float: left;
	width: 234px;
	height: 616px;
	box-sizing: border-box;
}
.main .appliances .phone .appliances-ad .appliances-li:first-child{
	margin-bottom: 10px;
}
.main .appliances .appliances-ad .appliances-li{
	width: 234px;
	height: 303px;
}
.main .appliances .phone .appliances-ad .appliances-li a img{
	height: 303px;
}
.main .appliances .appliances-li{
	transition: transform 0.5s,box-shadow 0.5s;
}
.main .appliances .appliances-ad .appliances-li:hover{
	transform: translateY(-2px);
	box-shadow: 0 8px 10px 5px #ddd;
}

.main .appliances .appliances-box div{
	float: left;
	margin-left: 14px;
	box-sizing: border-box;
}
.main .appliances .appliances-box .appliances-link{
	position: relative;
	width: 234px;
	height: 145px;
	margin-bottom: 13px;
	background: #fafafa;
	transition: transform 0.5s,box-shadow 0.5s;
}
.main .appliances .appliances-box .appliances-link .link-img img{
	position: absolute;
	top: 40px;
	right: 16px;
	width: 70px;
	height: 70px;
}
.main .appliances .appliances-box .appliances-link div{
	position: absolute;
	top: 44px;
	left: 30px;
}
.main .appliances .appliances-box .appliances-link div a p{
	width: 100px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #333;
} 
.main .appliances .appliances-box .appliances-link div p{
	color: #ff6700;
	margin-top: 5px;
}
.main .appliances .appliances-box .appliances-link:hover{
	transform: translateY(-2px);
	box-shadow: 0 8px 10px 5px #ddd;
}
.main .appliances .appliances-box .appliances-browse{
	position: relative;
	width: 234px;
	height: 145px;
	background: #fafafa;
	transition: transform 0.5s,box-shadow 0.5s;
}
.main .appliances .appliances-box .appliances-browse a:first-child{
	position: absolute;
	top: 50px;
	left: 30px;
}
.main .appliances .appliances-box .appliances-browse a h2{
	margin-bottom: 5px;
	font-size: 18px;
	color: #333;
}
.main .appliances .appliances-box .appliances-browse a p{
	color: #7d757d;
	font-size: 12px;
}
.main .appliances .appliances-box .appliances-browse a:nth-child(2){
	position: absolute;
	top: 40px;
	right: 30px;
	color: #ff6700;
	font-size: 48px;
}
.main .appliances .appliances-box .appliances-browse:hover{
	transform: translateY(-2px);
	box-shadow: 0 8px 10px 5px #ddd;
}

.video{
	width: 100%;
	height: 347px;
	margin-top: 40px;
}
.video .video-link .video-link-li{
	position: relative;
	float: left;
	width: 296px;
	height: 287px;
	margin-left: 14px;
	text-align: center;
	background: #fff;
	transition: transform 0.5s,box-shadow 0.5s;
}
.video .video-link .video-link-li:first-child{
	margin-left: 0;
}
.video .video-link .video-link-li a img{
	width: 296px;
	height: 181px;
	margin-bottom: 32px;
}
.video .video-link .video-link-li a{
	width: 100px;
}
.video .video-link .video-link-li a:nth-child(2) p{
	font-size: 14px;
	color: #333;
	margin-bottom: 5px;
}
.video .video-link .video-link-li>p{
	font-size: 12px;
	color: #b0b0b0;
}
.video .video-link .video-link-li a:nth-child(2) p:hover{
	color: #ff6700;
}
.video .video-link .video-link-li .play{
	position: absolute;
	left: 20px;
	top: 50%;
	display: inline-block;
	width: 35px;
	height: 25px;
	background: #0e090c;
	border: 2px solid #fff;
	border-radius: 43%;
}
.video .video-link .video-link-li .play i{
	color: #fff;
	font-size: 25px;
}
.video .video-link .video-link-li .play:hover{
	background: #ff6700;
	border-color: #ff6700;
}
.video .video-link .video-link-li:hover{
	transform: translateY(-2px);
	box-shadow: 0 8px 10px 5px #ddd;
}
/*第五块*/
.footer{
	height: 275px;
	background: skyblue;
}

/*第六块*/
.end{
	height: 148px;
	background: green;
}